<app-sidebar></app-sidebar>
<div class="main">
        <div class="row" >
                <div class="col-sm-3" >
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">{{customer.allProjects.length}}</div>
                        <div class="card-body">
                          <h5 class="card-title">Projects</h5>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-3" >
                                <div class="card text-white bg-dark mb-3">
                                    <div class="card-header">{{customer.allEmployees.length}}</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Employees</h5>
                                     </div>
                                  </div>
                                </div>
                             
                  
                </div>
        </div>