
<app-sidebar></app-sidebar>
<div class="main">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" aria-current="page"><a routerLink="/projects">Projects</a></li>
                  <li class="breadcrumb-item " aria-current="page"><a routerLink="/projects/{{project._id}}">{{project.title}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{taskData.taskName}}</li>
                </ol>
              </nav>

      <div class="jumbotron jumbotron-fluid">
            <div class="container">
                   
            <h1 class="display-5">{{taskData.taskName | uppercase}}</h1>
            <p class="lead">Start Date : {{taskData.startDate}} | End Date : {{taskData.endDate}}</p>
            <hr class="my-2">
            <strong><p>Estiamted Cost : {{taskData.estiamtedCost}}</p></strong>
           
                    <button type="button" class="btn btn-danger mr-2 float-right" (click)="showDeleteTask(deleteModal)" >Delete</button>
                    <button type="button" class="btn btn-light mr-2  float-right" (click)="showEditTask(editModal)">Edit</button>

                    <ng-template #editModal let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <!-- Modal Edit body -->
                            <div class="modal-body">
                                    <form (ngSubmit)="updateTask(data)" #data="ngForm">
                                            <div class="form-group row">
                                              <div class="col-sm-3 col-form-label">Task Name</div>
                                              <div class="col-sm-9">
                                                <input type="text" required class="form-control" placeholder="Task Name" name="taskName" [(ngModel)]="taskData.taskName">
                                              </div>
                                            </div>
                                            <div class="form-group row">
                                              <label class="col-sm-3 col-form-label">Start Date</label>
                                              <div class="col-sm-9">
                                                <input type="date" required class="form-control" placeholder="Start Date" name="startDate" [(ngModel)]="taskData.startDate">
                                              </div>
                                            </div>
                                            <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">End Date</label>
                                                    <div class="col-sm-9">
                                                      <input type="date" required class="form-control" placeholder="End Date" name="endDate" [(ngModel)]="taskData.endDate">
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Estimated Cost</label>
                                                    <div class="col-sm-9">
                                                      <input type="number" required class="form-control" placeholder="Estimated Cost" name="estiamtedCost" [(ngModel)]="taskData.estiamtedCost">
                                                    </div>
                                                  </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9">
                                                    <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                                                </div>
                                            </div>
                                          </form>
                            </div>
                           
                        </ng-template>

                        <ng-template #deleteModal let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Delete project</h4>
                                </div>
                                <!-- Modal Edit body -->
                                <div class="modal-body">
                                     <p>Are you sure you want to delete the task :  {{taskData.taskName | uppercase}}?</p>  
                                </div>

                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" (click)="deleteTask()">Delete</button>
                                        <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
                                      </div>
                               
                            </ng-template>

                   
            </div>
          </div>

       
        
          


                        <div class="card" >
                                <div class="card-header">
                                    
                                  <h4><strong>EXPENSES</strong>
                                  
                                  <button type="button" class="btn btn-dark float-right" (click)="showAddExpense(addPaymentModal)" >Add Expense</button>
                                </h4>
                          
                                <ng-template #addPaymentModal let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Add Expense</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <!-- Modal body -->
                                  <div class="modal-body">
                                          <form (ngSubmit)="createExpense(data)" #data="ngForm">
                                                  <div class="form-group row">
                                                    <div class="col-sm-3 col-form-label">Spent For</div>
                                                    <div class="col-sm-9">
                                                      <input type="text" required class="form-control" placeholder="Spent for" name="title" ngModel>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Date</label>
                                                    <div class="col-sm-9">
                                                      <input type="date" required class="form-control" placeholder="Date" name="date" ngModel>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                          <label class="col-sm-3 col-form-label">Amount</label>
                                                          <div class="col-sm-9">
                                                            <input type="number" required class="form-control" placeholder="Amount" name="amount" ngModel>
                                                          </div>
                                                        </div>
                                                        <div class="form-group row">
                                                          <label class="col-sm-3 col-form-label">Payment Mode</label>
                                                          <div class="col-sm-9">
                                                            <input type="text" required class="form-control" placeholder="Mode" name="mode" ngModel>
                                                          </div>
                                                        </div>
                                                  <div class="form-group row">
                                                      <div class="col-sm-3"></div>
                                                      <div class="col-sm-9">
                                                          <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                                                      </div>
                                                  </div>
                                                </form>
                                  </div>
                                 
                              </ng-template>
                                 
                                            
                                        </div>
                                        <div *ngIf="taskData.expenses.length > 0">
                                        <table class="table">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">Date</th>
                                              <th scope="col">Spent For</th>
                                              <th scope="col">Mode</th>
                                              <th scope="col">Amount</th>
                                              <th scope="col"></th>
                                              
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let data of taskData.expenses">
                                              <th scope="row">{{data.date}}</th>
                                              <td>{{data.title}}</td>
                                              <td>{{data.mode}}</td>
                                              <td>{{data.amount}}</td>
                                              <td><button type="button" class="btn btn-light  mr-2 float-right" (click)="showEditExpense(editExpenseModal,data)" >Edit</button>
                                                <button type="button" class="btn btn-danger mr-2 float-right" (click)="showDeleteExpense(deleteExpenseModal,data)" >Delete</button></td>
                                              
                                                <ng-template #editExpenseModal let-modal>
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-basic-title">Edit Expense</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <!-- Modal Edit body -->
                                                  <div class="modal-body">
                                                    <form (ngSubmit)="updateExpense(data)" #data="ngForm">
                                                            <div class="form-group row">
                                                              <div class="col-sm-3 col-form-label">Paymnet Recieved For</div>
                                                              <div class="col-sm-9">
                                                                <input type="text" required class="form-control" placeholder="Payment recieved for" name="title" [(ngModel)]="selectedExpense.title">
                                                              </div>
                                                            </div>
                                                            <div class="form-group row">
                                                              <label class="col-sm-3 col-form-label">Date</label>
                                                              <div class="col-sm-9">
                                                                <input type="date" required class="form-control" placeholder="Date" name="date" [(ngModel)]="selectedExpense.date">
                                                              </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Amount</label>
                                                                    <div class="col-sm-9">
                                                                      <input type="number" required class="form-control" placeholder="Amount" name="amount" [(ngModel)]="selectedExpense.amount">
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Payment Mode</label>
                                                                    <div class="col-sm-9">
                                                                      <input type="text" required class="form-control" placeholder="Mode" name="mode" [(ngModel)]="selectedExpense.mode">
                                                                    </div>
                                                                  </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-3"></div>
                                                                <div class="col-sm-9">
                                                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                                </div>
                                                            </div>
                                                          </form>
                                            </div>
                                                 
                                              </ng-template>
                      
                                              <ng-template #deleteExpenseModal let-modal>
                                                      <div class="modal-header">
                                                        <h4 class="modal-title" id="modal-basic-title">Delete Expense</h4>
                                                      </div>
                                                      <!-- Modal Edit body -->
                                                      <div class="modal-body">
                                                           <p>Are you sure you want to delete the expense :  {{selectedExpense.title | uppercase}}?</p>  
                                                      </div>
                      
                                                      <div class="modal-footer">
                                                              <button type="button" class="btn btn-danger" (click)="deleteExpense()">Delete</button>
                                                              <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
                                                            </div>
                                                     
                                                  </ng-template>

                                            </tr>
                                       
                                          </tbody>
                                        </table>
                                    </div>
                                    
                                    </div> 
                                    <br><br>
</div>
<ngx-spinner></ngx-spinner>
